<%- include ../layouts/header.ejs %>
<% if (messages.error) : %>
	<p style="color: red"><% messages.error %></p>
<% endif %>
	
<% if (messages.success) : %>
	<p style="color: green"><% messages.success %></p>
<% endif %>

<form action="/users/add" method="post" name="form1">
	<table>
		
	</table>
</form>